<section>
  <h3>Registro</h3>
  <form id="registerForm">
    <label>Usuario</label>
    <input>
    <br>
    <br>
    <label>Email</label>
    <input type="email">
    <br>
    <br>
    <label>Contraseña</label>
    <input type="password">
    <br>
    <br>
    <button>Crear usuario</button>
  </form>
</section>

<script src="/register.js"></script>